LOGIN_TRUE=Bienvenido al sistema!
LOGIN_FALSE=Usuario o clave incorrectos
STRING_NOK="Text 2 find" box is empty, please input a value and try again..
WILDCAR_NOK="wildcar" box is empty, please input a value and try again..
NO_DATA_DRAW=There are no data to draw, please first select a log folder and then press the "Run" button
NO_DATA_REPO=There are no data to report, please first select a log folder and then press the "Run" button
OPER_NO=No se pudo realizar la operación
OPER_OK=Operación realizada con éxito
REPASS_NO=La clave nueva y la repetida deben ser iguales
PASS_NO=La clave nueva no puede estar vacia
USER_NO=Usuario o clave incorrectos
PASS_OK=La clave fue cambiada con éxito
DELETE=¿Desea realmente eliminar el registro seleccionado?
DATOS_NO=Debe ingresar todos los datos
USER_EXISTE=Ya existe otro usuario con ese Username
TITLE_PDF=Usuarios del Sistema
ARCH_SAVE=Se generó el archivo: 
ARCH_OPEN=¿Desea abrirlo ahora?

